[Desktop Entry]
Type=Application
Name=${PROGRAM_TITLE}
GenericName=ALSA configuration
GenericName[de]=ALSA-Konfiguration
GenericName[he]=תצורת ALSA
Exec=${PROGRAM_NAME}
Icon=${PROGRAM_NAME}
StartupNotify=false
Terminal=false
Categories=AudioVideo;Audio;Mixer;
Comment=ALSA configuration browser
Comment[cs]=Prohlížeč nastavení ALSA
Comment[de]=ALSA-Konfigurationsbetrachter
Comment[he]=סייר תצורת ALSA
Comment[ru]=Просмотрщик конфигурации звуковой системы ALSA
