[Desktop Entry]
Type=Application
Name=${PROGRAM_TITLE}
GenericName=ALSA HCTL mixer
GenericName[de]=ALSA HCTL mixer
GenericName[he]=מערבל ALSA HCTL
Exec=${PROGRAM_NAME}
Icon=${PROGRAM_NAME}
StartupNotify=false
Terminal=false
Categories=AudioVideo;Audio;Mixer;
Comment=ALSA HCTL mixer
Comment[de]=ALSA HCTL mixer
Comment[he]=מערבל ALSA HCTL
